* {
  margin: 0;
  list-style-type: none;
}
.App {
  text-align: center;
  color: #9146ff;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.header {
  text-align: center;
  padding: 25px;
  background-color: #9146ff;
  color: white;
}

.streamers {
  color: #9146ff;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

.btn {
  text-align: center;
  color: #9146ff;
  background-color: white;
}

.butn {
  color: white;
  background-color: #9146ff;
  height: 35px;
  border-radius: 10px;
  margin-left: 10px;
}

.leader {
  color: #9146ff;
  text-align: center;
}
